<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="well">
	<form>
		<input type='text' class='form-control' id='newRoom' autocomplete='off' name='newRoom' ng-model='newRoom' />
		<button type='button' class='btn btn-primary' ng-click='createRoom()'>Create</button>
	</form>
	<ul ng-repeat="room in rooms">
		<li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
	</ul>
</div>
<h4>{{banstring}}</h4>
<div class="well">
	<ul ng-repeat="room in banrooms">
		<li>{{room}}</li>
	</ul>
</div>