<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	TODO - display chat

	<h4>Chats</h4>
		<!--<div schroll-bottom='messages'>-->
	<table class='messageList'>
		<tr class='singleMessage' ng-repeat='msg in messages'>
			<td class='nick'>{{msg.nick}}</td>
			<td class='messageData'>{{msg.message}}</td>
			<td class='timestamp'>{{msg.timestamp}}</td>
		</tr>
	</table>

		<!--
		<ul>
			<li ng-repeat='msg in messages'>{{msg.timestamp}}  <h4>{{msg.nick}}</h4>:  {{msg.message}}</li>
		</ul>
	</div>
	-->
		<!--</div>-->

	<form ng-submit='sendMessage()'>
		<input type='text' class='form-control' id='message' autocomplete='off' name='message' ng-model='message' />
		<!--<input type='submit' value='Send' />-->
		<button type='button' class='btn btn-primary' ng-click='sendMessage()'>Send</button>
	</form>

</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<button type='button' class='btn btn-warning' ng-click='leaveRoom()' href='/#/rooms/{{currentUser}}'>Leave</button>
	<div class="well">	
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}
			<button class='btn btn-danger' ng-click='kickUser(user)'>Kick</button>
			</li>
		</ul>
	</div>
</div>
