<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div class="alert alert-info" ng-cloak ng-show="currentPrivateMessage != ''">
	{{currentPrivateMessage}}
</div>
<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class='opTopic' ng-cloak ng-show='currentUserIsOp'>
	<input type='text' id='topicInput' ng-model='topic' placeholder='{{currentTopic}}' >
	<button class='btn btn-primary btn-xs' id='buttonTopic' ng-click='setTopic()'>Set Topic</button>
</div>
<h4 class='topic' ng-cloak ng-show='!currentUserIsOp'>{{currentTopic}}</h4>
<div class="col-md-9">

	<table class='messageList'>
		<tr class='singleMessage' ng-repeat='msg in messages'>
			<td class='nick'>{{msg.nick}}</td>
			<td class='messageData'>{{msg.message}}</td>
			<td class='timestamp'>{{msg.timestamp}}</td>
		</tr>
	</table>

		<!--
		<ul>
			<li ng-repeat='msg in messages'>{{msg.timestamp}}  <h4>{{msg.nick}}</h4>:  {{msg.message}}</li>
		</ul>
	</div>
	-->
		<!--</div>-->

	<form ng-submit='sendMessage()'>
		<input type='text' class='form-control' id='message' autocomplete='off' name='message' ng-model='message' />
		<!--<input type='submit' value='Send' />-->
		<button type='button' class='btn btn-primary' ng-click='sendMessage()'>Send</button>
		<button type='button' class='btn btn-primary' ng-click='sendPMessage()'>SendPM</button>
		<select class="form-control" id="sel1" ng-model="sendpmto">
		<option ng-repeat="op in currentOps">{{op}}</option>
		<option ng-repeat="user in currentUsers">{{user}}</option>
      </select>
	</form>

</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<button type='button' class='btn btn-warning btn-sm' ng-click='leaveRoom()' href='/#/rooms/{{currentUser}}'>Leave</button>
	<button type='button' class='btn btn-danger btn-sm' ng-click='disconnect()' href='/#/rooms/{{currentUser}}'>Disconnect</button>
	<div class="well">	
		<ul>
			<li class='ops' ng-repeat="op in currentOps">{{op}}
			<button class='btn btn-warning btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='kickUser(op)'>Kick</button>
			<button class='btn btn-danger btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='banUser(op)'>Ban</button>
			<button class='btn btn-info btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='deOpOp(op)'>DeOp</button>
			</li>
		</ul>
	</div>
	<div class="well">	
		<ul>
			<li class='users' ng-repeat="user in currentUsers">{{user}}
			<button class='btn btn-warning btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='kickUser(user)'>Kick</button>
			<button class='btn btn-danger btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='banUser(user)'>Ban</button>
			<button class='btn btn-info btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='opUser(user)'>Op</button>
			</li>
		</ul>
	</div>
	<div class="well">	
		<ul>
			<li class='banned' ng-repeat="banned in currentBanned">{{banned}}
			<button class='btn btn-success btn-xs' ng-cloak ng-show='currentUserIsOp' ng-click='unBanUser(banned)'>Unban</button>
			</li>
		</ul>
	</div>
	<div class='opPaaword' ng-cloak ng-show='currentUserIsOp'>
		<input type='text' id='passwordInput' ng-model='password' placeholder='Enter password' >
		<button class='btn btn-primary btn-xs' id='buttonPassword' ng-click='setPassword()'>Set Password</button>
		<button class='btn btn-primary btn-xs' id='buttonUnPassword' ng-click='unSetPassword()'>Unset Password</button>
	</div>
</div>
